---
layout: default
---



<div class="home">
	
<h1>Đất thổ cư Củ Chi chính chủ 3000 M2 ĐT: 0901188839 gặp A Sơn</h1>
	
<p>Bán lô đất tại Củ Chi chính chủ 3000 m2 thổ cư 500 m2, giá 13,5 tỷ.Liên hệ 0901188839 gặp A Sơn</p>
<p>Mặt tiền đường Nguyễn Thị Rành, cách quốc lộ 22 cầu vượt Củ Chi 2 Km, gần khu dân cư, chợ, thích hợp làm nhà xưởng, phòng trọ, phân lô bán nền.</p>

{% include image.html url="/images/cu chi 22.jpg" caption="0901188839." width=300 align="right" %}
{% include image.html url="/images/cu chi 0111.jpg" caption="0901188839." width=300 align="right" %}
Mặt tiền đường Nguyễn Thị Rành, cách quốc lộ 22 cầu vượt Củ Chi 2 Km, gần khu dân cư, chợ, thích hợp làm nhà xưởng, phòng trọ, phân lô bán nền.
</div>
